[submodule "frontend"]
	path = frontend
	url = https://github.com/Luxcorel/marketplace-frontend
	branch = main
[submodule "backend"]
	path = backend
	url = https://github.com/Luxcorel/marketplace-backend
	branch = main
